.numbersTable {
  max-width: 90%;
  margin: 0 auto;
  padding: 10px 0;
  display: flex;
  flex: 1;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;

  & a {
    text-decoration: none;
  }

  & .name {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  & .count {
    padding-top: 10px;
    display: block;
    font-size: 1rem;
  }
}
